<!--@subject Canifa: Thẻ quà tặng!@-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#2f2f2f;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="560">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:20px; display: block; text-align: center;padding-left: 100px;padding-top: 20px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:18px; font-weight:normal; line-height:18px; margin:0 0 17px 0;font-family:'arial';color:#000000;text-transform: capitalize;">Xin ch&agrave;o {{depend data.email-to}}, {{var data.email-to}}{{/depend}}!</h1>
                    <p style="font-size:13px; line-height:16px; margin:0;">B&#7841;n &#273;&atilde; nh&#7853;n &#273;&#432;&#7907;c m&#7897;t Th&#7867; qu&agrave; t&#7863;ng v&#7899;i m&#7879;nh gi&aacute; {{var data.amount}}{{depend data.email-from}} t&#7915; {{var data.email-from}}{{/depend}}! Th&#7867; n&agrave;y &#273;&#432;&#7907;c mua t&#7841;i website <a href="{{store url=""}}"> Canifa</a> . !</p>
				</td>
            </tr>
			<!--<tr>
				<td align="center" style="text-align:center;">
					<center><img src="{{skin url="images/giftcard.jpg" _area='frontend'}}" /></center>
				</td>
			</tr>-->
			<tr>
				<td style="font-size:20px; line-height:30px; margin:0;">
                                        {{depend data.email-to}} Tới: {{var data.email-to}}<br />{{/depend}}
                                        {{depend data.email-from}} Từ: {{var data.email-from}}<br />
                                        {{/depend}}
                                        {{depend data.email-message}} Tiêu đề : {{var data.email-message}}<br />
                                        {{/depend}}
					Gi&aacute; tr&#7883; th&#7867;: {{var data.amount}}<br />
					M&atilde; th&#7867;: {{var data.code}}<br />
				</td>
			</tr>
            <tr>
                <td bgcolor="#e5e5e5" align="left" style="background:#e5e5e5; text-align:left;">
					<p style="font-size:12px; margin:0;line-height:20px;">&#272;&#7875;  s&#7917; d&#7909;ng th&#7867; qu&agrave; t&#7863;ng, b&#7841;n c&#7847;n: 
					<ol style="font-size:12px; margin:0;line-height:20px;">
							<li>T&#7841;o m&#7897;t t&agrave;i kho&#7843;n v&agrave; &#273;&#259;ng nh&#7853;p v&agrave;o  <a href="{{store url=""}}">{{store url=""}}</a></li>
							<li>Nh&#7853;p m&atilde; th&#7867; v&agrave;o trong ph&#7847;n Th&#7867; qu&agrave; t&#7863;ng, &#7903; trang T&agrave;i kho&#7843;n c&#7911;a t&ocirc;i.</li>
							<li> Ngo&agrave;i ra, b&#7841;n&nbsp;c&oacute; th&#7875; quy &#273;&#7893;i c&aacute;c&nbsp;th&#7867; b&#7857;ng c&aacute;ch nh&#7853;p m&atilde; th&#7867; &nbsp;tr&ecirc;n trang&nbsp;Gi&#7887; h&agrave;ng&nbsp;tr&#432;&#7899;c&nbsp;khi&nbsp;thanh to&aacute;n. </li>
				  </ol>
					</p>
				</td>
            </tr>
			<tr>
				<td bgcolor="#e5e5e5" align="left" style="background:#e5e5e5; text-align:left;">
					<p style="font-size:12px; margin:0;">N&#7871;u c&oacute; b&#7845;t k&#7923; c&acirc;u h&#7887;i n&agrave;o, vui l&ograve;ng li&ecirc;n h&#7879; v&#7899;i ch&uacute;ng t&ocirc;i qua <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>{{depend data.store-phone}} ho&#7863;c g&#7885;i cho ch&uacute;ng t&ocirc;i <span class="nobr">{{var data.store-phone}}</span> Th&#7913; 2 - Th&#7913; 7, 8am - 5pm PST.{{/depend}}</p>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>