<!--@subject Đăng ký nhận bản tin thành công @-->

<style type="text/css">
body,td { color:#2f2f2f; font:12px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<body style="background:#ECECEC; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ECECEC;font:12px/1.35em Arial, Helvetica, sans-serif;margin:0; padding:0;">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
			<td align="center" valign="top" style="padding:20px 0 20px 0;">
        <!-- [ header starts here] -->
				<table cellspacing="0" cellpadding="15" border="0" width="650" bgcolor="#FFFFFF" style="border:1px solid #E6E7E9;">
					<tr>
						<td valign="top" style="padding:20px 15px;"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="" border="0"/></a></td>
					</tr>
                <!-- [ middle starts here] -->
                
                    <tr>
                        <td valign="top" style="padding:15px;">
                          <h1 style="font-size:18px; font-weight:normal; line-height:18px; margin:0 0 17px 0;color:#000;">Xin chào</h1>
                          <p style="font-size:13px; line-height:16px; margin:0 0 15px 0;color:#000000;"> Chúc mừng bạn đã đăng ký nhận bản tin thành công từ Fazsion!</p>
                            
							{{if createcoupon}} 
							<p style="font-size:13px; line-height:16px; margin:0 0 15px 0;color:#000000;">Trong dịp mua sắm cuối năm, Fazsion xin gửi tới bạn chương trình giảm giá hấp dẫn với voucher <strong style="color: #EC6181;">khuyến mại 25%</strong> cho lần mua hàng đầu tiên tại <a href="http://fazsion.com/" style="color:#000;">Fazsion.com</a>, áp dụng cho tất cả các mặt hàng của chúng tôi.</p> 
                            <p style="font-size:13px; line-height:16px; margin:0 0 15px 0;color:#000000;">Hãy bắt đầu mua sắm ngay bây giờ và sử dụng mã giảm giá dành cho bạn: <strong style="color: #EC6181;">fazsion_25</strong> khi tiến hành thanh toán.</p>
							<p style="font-size:13px; line-height:16px; margin:0 0 15px 0;color:#000000;">Chúc bạn có những giây phút mua sắm thoải mái và vui vẻ cùng Fazsion!</p>
							{{/if}} 
							
                        </td>
                    </tr>
					<tr>
						<td style="padding:15px;">
							<p style="font-size:12px; color:#000;margin:0 0 15px;">Trân trọng cảm ơn!</p>
							<p style="font-size:11px; color:#666;margin:0;"><strong>{{var store.getFrontendName()}}</strong><br/>
								{{config path='general/store_information/address'}}<br/>
								Tel: {{config path='general/store_information/phone'}}
							</p>
						</td>
					</tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
