<!--@subject Mật khẩu mới cho {{var customer.name}} @-->

<style type="text/css">body,td { color:#2f2f2f; font:12px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>

<body style="background:#ECECEC; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ECECEC;font:12px/1.35em Arial, Helvetica, sans-serif;margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0;">
        <!-- [ header starts here] -->
				<table cellspacing="0" cellpadding="15" border="0" width="650" bgcolor="#FFFFFF" style="border:1px solid #E6E7E9;">
					<tr>
						<td valign="top" style="padding:20px 15px;"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="" border="0"/></a></td>
					</tr>

                <!-- [ middle starts here] -->
                
                    <tr>
                        <td valign="top" style="padding:15px;">
							<p><strong>Xin chào, {{var customer.name}}</strong>,<br/>
							Mật khẩu mới của bạn là: {{var customer.password}}</p>
							<p>Bạn có thể thay đổi mật khẩu của bạn bằng cách đăng nhập vào <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">t&agrave;i kho&#7843;n c&#7911;a b&#7841;n</a>.
							</p>							
                        </td>
                    </tr>
					<tr>
						<td style="padding:15px;">
							<p style="font-size:12px; color:#000;margin:0 0 15px;">Trân trọng cảm ơn!</p>
							<p style="font-size:11px; color:#666;margin:0;"><strong>{{var store.getFrontendName()}}</strong><br/>
								{{config path='general/store_information/address'}}<br/>
								Tel: {{config path='general/store_information/phone'}}
							</p>
						</td>
					</tr>
                </table>
          </td>
     </tr>
</table>
</div>
</body>
