<!--@subject {{var store.getFrontendName()}}: Thông tin giao hàng # {{var shipment.increment_id}} cho đơn hàng# {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:12px/1.35em Arial, Helvetica, sans-serif; }
</style>

<body style="background:#ECECEC; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ECECEC;font:12px/1.35em Arial, Helvetica, sans-serif;margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0;">
        <!-- [ header starts here] -->
       <table cellspacing="0" cellpadding="15" border="0" width="650" bgcolor="#FFFFFF" style="border:1px solid #E6E7E9;">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="Fazsion"  style="" border="0"/></a></td>
            </tr>
        
        <!-- [ middle starts here] -->
       
            <tr>
                <td valign="top" style="padding:15px;">
                    <p>
                        <span style="font-size:18px; font-weight:normal; line-height:18px; margin:0 0 17px 0;font-family:'arial';color:#000000;text-transform: capitalize;display: block;">Xin ch&agrave;o  {{var order.getCustomerName()}},</span>
                        C&#7843;m &#417;n b&#7841;n &#273;&atilde; &#273;&#7863;t h&agrave;ng t&#7915; Fazsion. Dưới đây là thông tin các sản phẩm Fazsion đã giao cho bạn.<br/>
                        N&#7871;u b&#7841;n c&oacute; b&#7845;t c&#7913; c&acirc;u h&#7887;i n&agrave;o, vui l&ograve;ng li&ecirc;n h&#7879; v&#7899;i ch&uacute;ng t&ocirc;i qua 
						
						<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#000;font-weight: bold;">{{config path='trans_email/ident_support/email'}}</a> 
						
						ho&#7863;c g&#7885;i cho ch&uacute;ng t&ocirc;i theo s&#7889; 						
						<span class="nobr">{{config path='general/store_information/phone'}}</span>.
					</p>                    

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        L&ocirc; h&agrave;ng c&#7911;a b&#7841;n #{{var shipment.increment_id}} cho &#273;&#417;n h&agrave;ng #{{var order.increment_id}} 
					</h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#e5e5e5" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;font-size:13px;">Th&ocirc;ng tin thanh to&aacute;n:</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#e5e5e5" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;font-size:13px;">Ph&#432;&#417;ng th&#7913;c thanh to&aacute;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f5f5f5;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f5f5f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#e5e5e5" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;font-size:13px;">Th&ocirc;ng tin v&#7853;n chuy&#7875;n:</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#e5e5e5" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;font-size:13px;">Ph&#432;&#417;ng th&#7913;c v&#7853;n chuy&#7875;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f5f5f5;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f5f5f5;">
                                {{var order.shipping_description}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}

                    <br/>
                    {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                    <p>{{var comment}}</p>
                    
              </td>
            </tr>
			<tr>
				<td style="padding:15px;">
					<p style="font-size:12px; color:#000;margin:0 0 15px;">Trân trọng cảm ơn!</p>
					<p style="font-size:11px; color:#666;margin:0;"><strong>{{var store.getFrontendName()}}</strong><br/>
						{{config path='general/store_information/address'}}<br/>
						Tel: {{config path='general/store_information/phone'}}
					</p>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>